<div class="container-card">
          <div class="card teal lighten-5" style="margin:20px; padding: 10px">
            <div class="card-content white-black center">
              <h4>About</h4>
              <br>
              <p>Buzzin' is an app designed to help people track, visualize, reduce, and manage their alcoholic consumption habits.</p>
              <br>
              <p>Designed and engineered by Wesley Scholl and Charles Blundon.</p>
            </div>
          </div>
</div>
