<div class="container-card">
{{#if users}}
  {{#each users }}
          <div class="card teal lighten-5" style="margin:20px; padding: 20px">
            <div class="card-content white-black center">
              <span class="card-title"><a href="/user/{{id}}">{{username}}</a> - {{gender}}</span>
            </div>
          </div>
  {{/each}}
{{/if}}
</div>
