<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buzzin'</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    @media (min-width: 61em) {
      body {
    zoom: 100%
    }
    }
    @media (min-width: 37em) and (max-width: 60.99em) {
      body {
    zoom: 150%
    }
    .sidenav{
      width: 400px !important;
    }
    }
@media (max-width: 36.99em) {
  body {
zoom: 120%
}
.sidenav{
  width: 200px !important;
}
}
    .container-card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
</style>
  </head>
  <body>
    <nav>
        <div class="nav-wrapper teal lighten-3">
          <a href="/" class="brand-logo right">
          <i class="material-icons">local_bar</i>Buzzin'
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo" class="navside">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    {{{ body }}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  $(document).ready(function(){
    $('select').formSelect();
    $('#gender_select').on('change', function() {
  $('#gender').val($('#gender_select').val());
});
  });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.16.0/build/global/luxon.min.js"></script>
    <script>luxon.DateTime.local();</script>
  </body>
</html>
