<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buzzin'</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
    <div class="nav-wrapper teal lighten-4">
      <a href="/#" class="brand-logo right"><i class="material-icons">local_bar</i>Buzzin'</a>
      <ul id="nav-mobile" class="left">
        <li class="nav-item">
          <a class="nav-link" href="#"> Welcome</a>
        </li>
        <li class="nav-item">
        <i class="material-icons">add_circle_outline</i>
        </li>
        <li class="nav-item"><a href="/buzz/new">New Buzz</a>
      </li>
    </div>
  </nav>
    {{{ body }}}
  </body>
</html>
