<div class="row">
    <div class="col s12 m6">
      {{#if error}}
      <p class="alert alert-danger p-2 text-red-light">{{error}}</p>
      {{/if}}
      {{#if info}}
      <p class="alert alert-warning p-2 text-red-light">{{info}}</p>
      {{/if}}
  <h4>Sign Up</h4>
  <div class="card">
  <form action="/signup" method="post">
    <div class="input-field col s12">
      <input type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="input-field col s12">
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
      <div class="input-field col s12">
    <select id="gender_select">
      <option value="" disabled selected>Choose Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <input type="hidden" name="gender" id="gender" />
  </div>
<div class="input-field col s12">
  Select Weight
  <input type="number" name="weight"
  min="80" max="400" step="5" value="100">
</div>
    <div class="input-field col s12">
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="input-field col s12">
      <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
    </div>
    <div class="input-field col s12">
      <button type="submit" class="btn waves-effect waves-light teal darken-1">Sign Up</button>
    </div>
</form>
</div>
</div>
</div>
